@import url("../global.css");

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login {
  width: 500px;
  padding: 20px;
  box-shadow: var(--shadow-2);
  border-radius: var(--border-md);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

.form-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--red-500);
}

.register {
  width: 500px;
  padding: 20px;
  box-shadow: var(--shadow-2);
  border-radius: var(--border-md);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

.login_form label {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--red-500);
  display: inline-block;
  width: 15rem;
}

.login_form input {
  border: none;
  border-radius: var(--border-md);
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--zinc-600);
  box-shadow: var(--shadow-2);
}
.login_form input::placeholder {
  color: var(--zinc-400);
}

.select {
  align-self: self-start;
  justify-self: flex-start;
}

.login_form select {
  border: none;
  box-shadow: var(--shadow-2);
  border-radius: var(--border-md);
  width: 24rem;
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--zinc-400);
}

.btn {
  display: flex;
  gap: 2.2rem;
  justify-content: space-between;
}
.btn-dangnhap,
.btn-trove {
  margin-top: 2.2rem;
  outline: none;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--red-500);
  color: #fff;
  cursor: pointer;
}

.btn-dangnhap:hover,
.btn-trove:hover {
  transition: all 0.3s;
  background-color: var(--red-600);
}

.btn-dangky {
  color: var(--red-500);
  margin-top: 2.2rem;
  outline: none;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--zinc-100);
  border: 2px solid var(--red-200);
  cursor: pointer;
}

.btn-dangky:hover {
  transition: all 0.3s;
  background-color: var(--red-100);
}
