@import url("../global.css");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red-500);
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  font-size: 1.4rem;
  padding: 0 2.4rem;
}
.header-name {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
}
.header-list {
  display: flex;
  gap: 1.2rem;
  list-style: none;
}

.header-link {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.header-link span {
  font-weight: bold;
  position: relative;
}
.header-link span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header-link span:hover:after {
  width: 100%;
  left: 0;
}

.nav {
  flex: 30rem;
  min-height: 100vh;

  font-size: 1.6rem;
  color: var(--red-500);
  background-color: var(--red-50);
  box-shadow: var(--shadow-2);
}

.nav-link {
  display: flex;
  gap: 0.8rem;

  align-items: center;
  text-decoration: none;
  color: var(--red-500);
}
.nav-link span {
  font-weight: bold;
  position: relative;
}
.nav-link span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--red-500);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link span:hover:after {
  width: 100%;
  left: 0;
}

.nav li {
  margin-top: 30px;
  margin-left: 10px;
  list-style: none;
}
.all {
  padding-top: 5rem;
  display: flex;
}
/* donorAmin */

table,
th,
td {
  font-size: 1.6rem;
  text-align: center;
}
th {
  height: 6rem;
  color: var(--zinc-50);
  background-color: var(--red-400);
}
td {
  height: 6rem;
}

tr:nth-of-type(odd) {
  background-color: var(--red-100);
}

.btn-donor {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-edit {
  background-color: blue;
}
.btn-delete {
  background-color: red;
}

.update-blood {
  text-align: center;
  margin-top: 30px;
}
.update-blood select {
  height: 30px;
  width: 250px;
  text-align: center;
  margin: 10px;
  border-radius: 4px;
}
.update-blood button {
  padding: 5px;
  background-color: blue;
  margin-left: 10px;
  border-radius: 4px;
}
.login {
  width: 500px;
  border-radius: 8px;
  border: 2px solid;
  margin: auto;
  margin-top: 50px;
}

form {
  margin-left: 10px;
}
.form-row {
  display: flex;
  margin: 10px 0;
}

.btn {
  justify-content: space-evenly;
}

.blood {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem 1.2rem;
  justify-content: center;
}
.blood-item {
  position: relative;
  width: 24rem;
  height: 12rem;
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--red-400);
  gap: 1.2rem;
}
.blood-item--style1 {
  font-size: 2.4rem;
  display: flex;
  color: var(--zinc-600);
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.blood-item--style2 {
  font-size: 1.8rem;
  color: var(--zinc-600);
  font-weight: 600;
}
.blood-item--style1 i {
  font-size: 2.4rem;
  color: var(--red-500);
}

.container {
  padding: 0 6.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.2rem;
}

.action {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-size: 1.4rem;
}
