@import url("../global.css");

.fDonor {
  margin-top: 2.4rem;
  box-shadow: var(--shadow-2);
  padding: 2.4rem;
  font-weight: bold;
  border-radius: 8px;
}

.lDonor {
  font-size: 20px;
  margin: 20px;
}
.form-row {
  display: flex;
  align-items: center;
  height: 55px;
  font-weight: bold;
}

.btn-donor {
  display: flex;
  justify-content: flex-end;
  gap: 2.4rem;
}

.btn-cancel {
  margin-top: 2.2rem;
  outline: none;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--red-500);
  color: #fff;
  cursor: pointer;
}

.btn-register {
  padding: 10px;
  border-radius: 4px;
  margin-right: 20px;
  background-color: red;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}

.hDonor {
  background-color: blue;
  padding: 5px;
  width: 60px;
  margin: auto;
  border-radius: 4px;
}
.search-donor {
  margin-left: 20px;
}
table {
  min-width: 800px;
}

#historyTable {
  border-collapse: collapse;
  box-shadow: var(--shadow-2);
}

.btn-request {
  margin-top: 2.2rem;
  outline: none;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--red-500);
  color: #fff;
  cursor: pointer;
}

.btn-cancel:hover,
.btn-request:hover {
  transition: all 0.3s;
  background-color: var(--red-600);
}
.note {
  margin: 20px;
  border: solid;
  padding: 30px;
  border-radius: 6px;
}
.note span {
  color: red;
  font-weight: bold;
}

h2 {
  color: var(--red-500);
}
.date {
  align-self: self-start;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.date label {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--zinc-700);
  display: inline-block;
  width: 15rem;
}

.date div input {
  border: none;
  border-radius: var(--border-md);
  width: 32rem;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--zinc-600);
  box-shadow: var(--shadow-2);
}

.select {
  align-self: self-start;
  justify-self: flex-start;
}

.select select {
  border: none;
  box-shadow: var(--shadow-2);
  border-radius: var(--border-md);
  width: 42rem;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--zinc-600);
}
.select label {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--zinc-700);
  display: inline-block;
  width: 15rem;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-size: 1.4rem;
}

.item {
  background-color: #fff;
  display: flex;
  box-shadow: var(--shadow-2);
  border-radius: 8px;
  align-items: center;
  padding: 1.48em;
}
.item:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all 0.3s;
  box-shadow: var(--shadow-3);
}
.item-img {
  background-color: transparent;
  padding: 20px;
  text-align: center;
}
.item-img img {
  width: 90px;
}
.item-contex {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.vio {
  margin-bottom: 1.2rem;
  color: var(--red-500);
  font-weight: bold;
  font-size: 1.8rem;
}
.peo {
  font-size: 25px;
}
.btn-search {
  margin-top: 2.2rem;
  outline: none;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--red-500);
  color: #fff;
  cursor: pointer;
}

.btn-search:hover {
  transition: all 0.3s;
  background-color: var(--red-600);
}
.btn-datlich,
.btn-xoaDK {
  outline: none;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--red-500);
  color: #fff;
  cursor: pointer;
}
.btn-datlich:hover,
.btn-xoaDK:hover {
  transition: all 0.3s;
  background-color: var(--red-600);
}
.btn-xemDS {
  outline: none;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--red-500);
  color: #fff;
  cursor: pointer;
}

.btn-xemDS:hover {
  transition: all 0.3s;
  background-color: var(--red-600);
}
/* hospital */
.action-hospital {
  font-size: 2.8rem;
  margin-top: 2rem;
  font-weight: 600;
  color: var(--zinc-600);
}
.btn-hdhienmau {
  margin-top: 3.2rem;
  align-self: flex-start;
  outline: none;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--red-500);
  color: #fff;
  cursor: pointer;
}

-hdhienmau:hover {
  transition: all 0.3s;
  background-color: var(--red-600);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.35s ease-in;
  display: none;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-50);

  position: relative;
  border-radius: 5px;
  animation: growth 0.3s ease-in-out;
}

.auth-form {
  margin: 30px;
}
.input-modal {
  width: 500px;
  margin-right: 50px;
}
.auth-form_btn {
  display: flex;
  gap: 1.2rem;
  justify-content: flex-end;
  margin-right: 5.2rem;
}
.btn-them,
.btn-huy,
.btn-send {
  align-self: flex-start;
  outline: none;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--red-500);
  color: var(--red-50);
  cursor: pointer;
}
.btn-them:hover,
.btn-huy:hover {
  transition: all 0.3s;
  background-color: var(--red-600);
}
.sudal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn linear 0.1s;
  display: none;
}

.sudal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.sudal__body {
  /* padding: 20px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 220px 300px;
  position: relative;
  border-radius: 5px;
  animation: growth linear 0.1s;
}
.suth-form {
  margin: 20px;
}
#donorTable {
  margin: auto;
}
.btn-cn,
.btn-tc {
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}
.btn-cn {
  background-color: rgb(54, 54, 214);
}
.btn-tc {
  background-color: rgb(242, 18, 55);
}
.vadal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn linear 0.1s;
  display: none;
}

.vadal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.vadal__body {
  /* padding: 20px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 220px 300px;
  position: relative;
  border-radius: 5px;
  animation: growth linear 0.1s;
}
